#customPopUpModal .modal-dialog {
    
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 30% !important;
}
#customPopUpModal .modal-dialog ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
      margin-left: 5px;
    margin-right: 0px;
    margin-top: 15px;
}

#customPopUpModal .dropdown-item {
    color: rgb(102, 102, 102);
    padding: 4px 8px;
    font-size: 13px;
}

#customPopUpModal .dropdown-item  {
    font-size: .88rem;
    display: flex;
    align-items: center;
    transition: background-color .3s ease, color .3s ease;
    cursor: pointer;
    z-index: 6;
    position: relative;
}
#customPopUpModal .dropdown-item span {
    padding-right: 10px;
}