<div class="login-rightbox">
  <h3>Reset Password ?</h3>
  <div class="line-around-flex"><span></span></div>
  <p class="subtitle">
    Please enter your registered email address to receive a link
  </p>
  <form class="adminFrm" data-action="send-reset-password-mail" method="post">
    <div class="single-login">
      <label class="login-label"> Username / Email ID</label>
      <input
        class="form-control requiredCheck"
        type="text"
        name="email"
        id="email"
        placeholder="Enter User Name or Email ID"
        data-check="Email"
      />
    </div>
      <button class="btn btn-primary btn-effect btn-effect-arrow mt-4" type="submit">
        SEND
      </button>
  </form>
  <div class="backtologin">
    <a href="/">Back to Login?</a>
  </div>
</div>
