<div class="card">
   <div class="folder-wrapper card-body">
      <div class="folder-box">
         <i class="fa-solid fa-folder"></i>
         <p>Document</p>
      </div>
      <div class="folder-box">
         <i class="fa-solid fa-folder"></i>
         <p>Document</p>
      </div>
      <div class="folder-box">
         <i class="fa-solid fa-folder"></i>
         <p>Document</p>
      </div>
      <div class="folder-box">
         <i class="fa-solid fa-folder"></i>
         <p>Document</p>
      </div>
      <div class="folder-box">
         <i class="fa-solid fa-folder"></i>
         <p>Document</p>
      </div>
      <div class="folder-box">
         <i class="fa-solid fa-folder"></i>
         <p>Document</p>
      </div>
      <div class="folder-box">
         <i class="fa-solid fa-folder"></i>
         <p>Document</p>
      </div>
      <div class="folder-box">
         <i class="fa-solid fa-folder"></i>
         <p>Document</p>
      </div>
      <div class="folder-box">
         <i class="fa-solid fa-folder"></i>
         <p>Document</p>
      </div>
   </div>
</div>